<%# LOGIN %>
<div class="container">
  <h1 class="h1_title">Login</h1>
  <div class="row">
    
    <div class="col m6 s12">
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <div class="row">
          <div class="input-field col s12">
            <%= f.email_field :email, class:"validate", id:"email", required:"required" %>
            <label for="email" data-error="Invalid email format">Email</label>
          </div>
          <div class="input-field col s12">
            <%= f.password_field :password, autocomplete: "off", class:"validate", id:"password", required:"required" %>
            <label for="password">Password</label>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="input-field col s12">
              <%= f.check_box :remember_me, id:"remember_me" %>
              <label for="remember_me">Remember me</label>
            </div>
          <% end -%>
        </div>
        <div class="row">
          <div class="input-field col m6 s12 center">
            <%= f.submit "Login", class:"waves-effect waves-light btn btn-wide green" %>
          </div>
          <div class="input-field col m6 s12 center">
            <%= link_to "Forgot password", new_password_path(resource_name), class:"waves-effect waves-light btn btn-wide red" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 right">
            <%= link_to "Create an account", new_registration_path(resource_name), class:"" %>
          </div>
        </div>
      <% end %>
    </div>
      
  </div>
</div>

