<div class="container">
	<h1 class="h1_title">My Memory</h1>
	<div class="row">
		<div class="col s12 m6">
			<div>
				<%= image_tag @memory.memory_display_picture.url(:medium), class:"materialboxed responsive-img"%>
			</div>
			<h2 class="h2-title title-text"><%= @memory.memory_title %></h2>
			<h3 class="h3-title sub-text"><%= @memory.memory_description %></h3>
		</div>
	
		<div class="col s12 m6">
			<h3 class="h3-title">Memory Files:</h3>
			<div class="row">
			    <div class="col s12">
			      <ul class="tabs">
			        <li class="tab col s3"><a class="active blue-text" href="#pictures">Pictures</a></li>
			        <li class="tab col s3"><a class="blue-text" href="#videos">Videos</a></li>
			        <li class="tab col s3"><a class="blue-text" href="#audios">Audios</a></li>
			        <li class="tab col s3"><a class="blue-text" href="#notes">Notes</a></li>
			        <div class="indicator blue" style="z-index:1"></div>
			      </ul>
			    </div>
			    
			    <div id="pictures" class="col s12">
			    	<div class="row">
			    	<% @memory.pictures.each  do |picture| %> 
						<div class="col s6 m3">
							<%= image_tag picture.picture_data.url(:medium), class:"materialboxed responsive-img"%>
						</div>
					<% end %>
					</div>
		    	</div>
		    	
			    <div id="videos" class="col s12">List of videos</div>
			    <div id="audios" class="col s12">List of audios</div>
			    <div id="notes" class="col s12">List of notes</div>
			  </div>
  
		</div>
	</div>
</div>