<div class="container">
	<h1 class="h1_title purple-text darken-3">My Pictures<i class="material-icons h1-icon">camera_alt</i></h1>
	
	<div class="row">
		<% @pictures.each do |picture| %> 
			<div class="col s6 m3">
				<%= image_tag picture.picture_data.url(:medium), class:"materialboxed responsive-img"%>
			</div>
		<% end %>
	</div>
	
	<div class="row">
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/food">
		</div>
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/nature">
		</div>
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/sports">
		</div>
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/cats">
		</div>
	</div>
	<div class="row">
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/people">
		</div>
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/city">
		</div>
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/transport">
		</div>
		<div class="col s6 m3">
			<img class="materialboxed responsive-img" src="http://lorempixel.com/640/480/business">
		</div>
	</div>
	
	<div class="row center">
		<ul class="pagination">
		    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		    <li class="active blue"><a href="#!">1</a></li>
		    <li class="waves-effect"><a href="#!">2</a></li>
		    <li class="waves-effect"><a href="#!">3</a></li>
		    <li class="waves-effect"><a href="#!">4</a></li>
		    <li class="waves-effect"><a href="#!">5</a></li>
		    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	  	</ul>
  	</div>

</div>